![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 2

Neste Jupyter notebook você irá resolver uma exercícios utilizando a linguagem Python e a biblioteca Pandas.

Todos os datasets utilizados nos exercícios estão salvos na pasta **datasets**.

Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/US_Crime_Rates_1960_2014.csv***.

Este dataset contém dados de crimes ocorridos nos Estados Unidos no período de 1960 até 2014.

Salve os dados em uma variável de nome *crime*.

In [3]:
# Seu código
import pandas as pd
dados = pd.read_csv('https://raw.githubusercontent.com/oliveiraqalan/data-manipulation-exercises/master/datasets/US_Crime_Rates_1960_2014.csv',encoding='utf8')
df = pd.DataFrame(dados)

### Tarefa 2. Qual o tipo de dados em cada coluna?

In [4]:
# Seu código
df.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

### Tarefa 3. Converta o tipo de dado da coluna Year para o tipo datetime

*Dica: procure na documentação da biblioteca como fazer tal conversão*

In [5]:
# Seu código
from datetime import date
#df['Year'] = pd.to_datetime(df['Year'],format='%Y%m%d%H%M%S')
#df['Year']= df['Year'].astype('datetime64')
#df.Year = pd.to_datetime(df.Year, format = '%Y')
#df['Year'].dt.year
#df['Year'] = pd.to_datetime(df['Year'].astype(str),format='%Y%m%d%H%M%S')
#df['Year']

### Tarefa 4. Configure a coluna Year como index do DataFrame.

*Dica: use a função set_index() do Pandas*

In [ ]:
# Seu código
df.set_index('Year',inplace=True)
#df.reset_index(inplace=True)
df

### Tarefa 5. Remova a coluna Total do DataFrame.

In [ ]:
# Seu código
df = df.drop(columns=['Total'])
#df = df.drop(['Total'], axis=1)
df

### Tarefa 6. Encontre o número de roubos de carro do ano de 1978.

In [33]:
# Seu código
#df.loc[1978,'Vehicle_Theft']
df.loc[[int(input('Digite o ano selecionado:'))]][['Vehicle_Theft']]

Digite o ano selecionado:1978

      Vehicle_Theft
Year
1978        1004100

### Tarefa 7. Retorne a linha do ano em que houve o maior número de assasinatos. 

*Dica: use a coluna Murder como referência.*

In [40]:
# Seu código
df.loc[df['Murder']==df.Murder.max()]

      Population  Violent  Property  ...  Burglary  Larceny_Theft  Vehicle_Theft
Year                                 ...
1991   252177000  1911770  12961100  ...   3157200        8142200        1661700

[1 rows x 10 columns]

### Tarefa 8. Retorne o número de assassinatos do ano em que foi registrado o menor número de roubo de carros.

In [50]:
# Seu código
df.loc[df['Vehicle_Theft']==df.Vehicle_Theft.min(),['Murder','Vehicle_Theft']]
#df.Vehicle_Theft.min()

      Murder  Vehicle_Theft
Year
1960    9110         328200

**Parabéns! Você chegou ao fim**