![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 2

Neste Jupyter notebook você irá resolver uma exercícios utilizando a linguagem Python e a biblioteca Pandas.

Todos os datasets utilizados nos exercícios estão salvos na pasta **datasets**.

Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/US_Crime_Rates_1960_2014.csv***.

Este dataset contém dados de crimes ocorridos nos Estados Unidos no período de 1960 até 2014.

Salve os dados em uma variável de nome *crime*.

In [1]:
# Seu código
import pandas as pd
dados = pd.read_csv('https://raw.githubusercontent.com/oliveiraqalan/data-manipulation-exercises/master/datasets/US_Crime_Rates_1960_2014.csv',encoding='utf8')
df = pd.DataFrame(dados)

### Tarefa 2. Qual o tipo de dados em cada coluna?

In [2]:
# Seu código
df.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

### Tarefa 3. Converta o tipo de dado da coluna Year para o tipo datetime

*Dica: procure na documentação da biblioteca como fazer tal conversão*

In [3]:
# Seu código
from datetime import date
#dfn = df.convert_dtypes()
#dfn.dtypes
#df['Year'].astype(datetime)
#df['Year'].apply(lambda x: x.astype('datetime'))
pd.to_datetime(df['Year'],format='%Y',yearfirst=True)
#df['Year'] = pd.to_datetime(df['Year'].astype('datetime'), format='Y%')
#df['Year'] = pd.to_datetime(df['Year'],format='%Y%m%d%H%M%S')
#df['Year']= df['Year'].astype('datetime64')
#df.Year = pd.to_datetime(df.Year, format = '%Y')
#df['Year'].dt.year
#df['Year'] = pd.to_datetime(df['Year'].astype(str),format='%Y%m%d%H%M%S')
#df['Year']

0    1960-01-01
1    1961-01-01
2    1962-01-01
3    1963-01-01
4    1964-01-01
5    1965-01-01
6    1966-01-01
7    1967-01-01
8    1968-01-01
9    1969-01-01
10   1970-01-01
11   1971-01-01
12   1972-01-01
13   1973-01-01
14   1974-01-01
15   1975-01-01
16   1976-01-01
17   1977-01-01
18   1978-01-01
19   1979-01-01
20   1980-01-01
21   1981-01-01
22   1982-01-01
23   1983-01-01
24   1984-01-01
25   1985-01-01
26   1986-01-01
27   1987-01-01
28   1988-01-01
29   1989-01-01
30   1990-01-01
31   1991-01-01
32   1992-01-01
33   1993-01-01
34   1994-01-01
35   1995-01-01
36   1996-01-01
37   1997-01-01
38   1998-01-01
39   1999-01-01
40   2000-01-01
41   2001-01-01
42   2002-01-01
43   2003-01-01
44   2004-01-01
45   2005-01-01
46   2006-01-01
47   2007-01-01
48   2008-01-01
49   2009-01-01
50   2010-01-01
51   2011-01-01
52   2012-01-01
53   2013-01-01
54   2014-01-01
Name: Year, dtype: datetime64[ns]

### Tarefa 4. Configure a coluna Year como index do DataFrame.

*Dica: use a função set_index() do Pandas*

In [4]:
# Seu código
df.set_index('Year',inplace=True)
#df.reset_index(inplace=True)
df

      Population     Total  Violent  ...  Burglary  Larceny_Theft  Vehicle_Theft
Year                                 ...
1960   179323175   3384200   288460  ...    912100        1855400         328200
1961   182992000   3488000   289390  ...    949600        1913000         336000
1962   185771000   3752200   301510  ...    994300        2089600         366800
1963   188483000   4109500   316970  ...   1086400        2297800         408300
1964   191141000   4564600   364220  ...   1213200        2514400         472800
1965   193526000   4739400   387390  ...   1282500        2572600         496900
1966   195576000   5223500   430180  ...   1410100        2822000         561200
1967   197457000   5903400   499930  ...   1632100        3111600         659800
1968   199399000   6720200   595010  ...   1858900        3482700         783600
1969   201385000   7410900   661870  ...   1981900        3888600         878500
1970   203235298   8098000   738820  ...   2205000        4225800         928400
1971   206212000   8588200   816500  ...   2399300        4424200         948200
1972   208230000   8248800   834900  ...   2375500        4151200         887200
1973   209851000   8718100   875910  ...   2565500        4347900         928800
1974   211392000  10253400   974720  ...   3039200        5262500         977100
1975   213124000  11292400  1039710  ...   3265300        5977700        1009600
1976   214659000  11349700  1004210  ...   3108700        6270800         966000
1977   216332000  10984500  1029580  ...   3071500        5905700         977700
1978   218059000  11209000  1085550  ...   3128300        5991000        1004100
1979   220099000  12249500  1208030  ...   3327700        6601000        1112800
1980   225349264  13408300  1344520  ...   3795200        7136900        1131700
1981   229146000  13423800  1361820  ...   3779700        7194400        1087800
1982   231534000  12974400  1322390  ...   3447100        7142500        1062400
1983   233981000  12108600  1258090  ...   3129900        6712800        1007900
1984   236158000  11881800  1273280  ...   2984400        6591900        1032200
1985   238740000  12431400  1328800  ...   3073300        6926400        1102900
1986   240132887  13211869  1489169  ...   3241410        7257153        1224137
1987   242282918  13508700  1483999  ...   3236184        7499900        1288674
1988   245807000  13923100  1566220  ...   3218100        7705900        1432900
1989   248239000  14251400  1646040  ...   3168200        7872400        1564800
1990   248709873  14475600  1820130  ...   3073900        7945700        1635900
1991   252177000  14872900  1911770  ...   3157200        8142200        1661700
1992   255082000  14438200  1932270  ...   2979900        7915200        1610800
1993   257908000  14144800  1926020  ...   2834800        7820900        1563100
1994   260341000  13989500  1857670  ...   2712800        7879800        1539300
1995   262755000  13862700  1798790  ...   2593800        7997700        1472400
1996   265228572  13493863  1688540  ...   2506400        7904700        1394200
1997   267637000  13194571  1634770  ...   2460526        7743760        1354189
1998   270296000  12475634  1531044  ...   2329950        7373886        1240754
1999   272690813  11634378  1426044  ...   2100739        6955520        1152075
2000   281421906  11608072  1425486  ...   2050992        6971590        1160002
2001   285317559  11876669  1439480  ...   2116531        7092267        1228391
2002   287973924  11878954  1423677  ...   2151252        7057370        1246646
2003   290690788  11826538  1383676  ...   2154834        7026802        1261226
2004   293656842  11679474  1360088  ...   2144446        6937089        1237851
2005   296507061  11565499  1390745  ...   2155448        6783447        1235859
2006   299398484  11401511  1418043  ...   2183746        6607013        1192809
2007   301621157  11251828  1408337  ...   2176140        6568572        1095769
2008   304374846  11160543  1392628  ...   2228474        6588046         958629
2009   307006550  10762956  1325896  ...   2203313        6338095         795652
2010   309330219  10363873  1251248  ...   2168457        6204601         739565
2011   311587816  10258774  1206031  ...   2185140        6151095         716508
2012   313873685  10219059  1217067  ...   2109932        6168874         723186
2013   316497531   9850445  1199684  ...   1931835        6018632         700294
2014   318857056   9475816  1197987  ...   1729806        5858496         689527

[55 rows x 11 columns]

### Tarefa 5. Remova a coluna Total do DataFrame.

In [5]:
# Seu código
df = df.drop(columns=['Total'])
#df = df.drop(['Total'], axis=1)
df

      Population  Violent  Property  ...  Burglary  Larceny_Theft  Vehicle_Theft
Year                                 ...
1960   179323175   288460   3095700  ...    912100        1855400         328200
1961   182992000   289390   3198600  ...    949600        1913000         336000
1962   185771000   301510   3450700  ...    994300        2089600         366800
1963   188483000   316970   3792500  ...   1086400        2297800         408300
1964   191141000   364220   4200400  ...   1213200        2514400         472800
1965   193526000   387390   4352000  ...   1282500        2572600         496900
1966   195576000   430180   4793300  ...   1410100        2822000         561200
1967   197457000   499930   5403500  ...   1632100        3111600         659800
1968   199399000   595010   6125200  ...   1858900        3482700         783600
1969   201385000   661870   6749000  ...   1981900        3888600         878500
1970   203235298   738820   7359200  ...   2205000        4225800         928400
1971   206212000   816500   7771700  ...   2399300        4424200         948200
1972   208230000   834900   7413900  ...   2375500        4151200         887200
1973   209851000   875910   7842200  ...   2565500        4347900         928800
1974   211392000   974720   9278700  ...   3039200        5262500         977100
1975   213124000  1039710  10252700  ...   3265300        5977700        1009600
1976   214659000  1004210  10345500  ...   3108700        6270800         966000
1977   216332000  1029580   9955000  ...   3071500        5905700         977700
1978   218059000  1085550  10123400  ...   3128300        5991000        1004100
1979   220099000  1208030  11041500  ...   3327700        6601000        1112800
1980   225349264  1344520  12063700  ...   3795200        7136900        1131700
1981   229146000  1361820  12061900  ...   3779700        7194400        1087800
1982   231534000  1322390  11652000  ...   3447100        7142500        1062400
1983   233981000  1258090  10850500  ...   3129900        6712800        1007900
1984   236158000  1273280  10608500  ...   2984400        6591900        1032200
1985   238740000  1328800  11102600  ...   3073300        6926400        1102900
1986   240132887  1489169  11722700  ...   3241410        7257153        1224137
1987   242282918  1483999  12024700  ...   3236184        7499900        1288674
1988   245807000  1566220  12356900  ...   3218100        7705900        1432900
1989   248239000  1646040  12605400  ...   3168200        7872400        1564800
1990   248709873  1820130  12655500  ...   3073900        7945700        1635900
1991   252177000  1911770  12961100  ...   3157200        8142200        1661700
1992   255082000  1932270  12505900  ...   2979900        7915200        1610800
1993   257908000  1926020  12218800  ...   2834800        7820900        1563100
1994   260341000  1857670  12131900  ...   2712800        7879800        1539300
1995   262755000  1798790  12063900  ...   2593800        7997700        1472400
1996   265228572  1688540  11805300  ...   2506400        7904700        1394200
1997   267637000  1634770  11558175  ...   2460526        7743760        1354189
1998   270296000  1531044  10944590  ...   2329950        7373886        1240754
1999   272690813  1426044  10208334  ...   2100739        6955520        1152075
2000   281421906  1425486  10182586  ...   2050992        6971590        1160002
2001   285317559  1439480  10437480  ...   2116531        7092267        1228391
2002   287973924  1423677  10455277  ...   2151252        7057370        1246646
2003   290690788  1383676  10442862  ...   2154834        7026802        1261226
2004   293656842  1360088  10319386  ...   2144446        6937089        1237851
2005   296507061  1390745  10174754  ...   2155448        6783447        1235859
2006   299398484  1418043   9983568  ...   2183746        6607013        1192809
2007   301621157  1408337   9843481  ...   2176140        6568572        1095769
2008   304374846  1392628   9767915  ...   2228474        6588046         958629
2009   307006550  1325896   9337060  ...   2203313        6338095         795652
2010   309330219  1251248   9112625  ...   2168457        6204601         739565
2011   311587816  1206031   9052743  ...   2185140        6151095         716508
2012   313873685  1217067   9001992  ...   2109932        6168874         723186
2013   316497531  1199684   8650761  ...   1931835        6018632         700294
2014   318857056  1197987   8277829  ...   1729806        5858496         689527

[55 rows x 10 columns]

### Tarefa 6. Encontre o número de roubos de carro do ano de 1978.

In [6]:
# Seu código
#df.loc[1978,'Vehicle_Theft']
df.loc[int(1978)]['Vehicle_Theft']

1004100

### Tarefa 7. Retorne a linha do ano em que houve o maior número de assasinatos. 

*Dica: use a coluna Murder como referência.*

In [7]:
# Seu código
df.loc[df['Murder']==df.Murder.max()]

      Population  Violent  Property  ...  Burglary  Larceny_Theft  Vehicle_Theft
Year                                 ...
1991   252177000  1911770  12961100  ...   3157200        8142200        1661700

[1 rows x 10 columns]

### Tarefa 8. Retorne o número de assassinatos do ano em que foi registrado o menor número de roubo de carros.

In [8]:
# Seu código
murder = df.loc[df['Vehicle_Theft']==df.Vehicle_Theft.min()][['Murder']].max()
murder.max()

9110

**Parabéns! Você chegou ao fim**